@use "./variables" as *;
@use "./functions" as *;

@mixin flex-wrap($direction: column, $just-content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $align;
  flex-wrap: wrap;
}

@mixin tablet-breakpoint {
  @media screen and (min-width: $tablet-screensize) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media screen and (min-width: $desktop-screensize) {
    @content;
  }
}
