// Primary Colors
$primary-color: #161853;
$secondary-color: #292c6d;
$tertiary-color: #ec255a;
$background-color: #faedf0;

$primary-font: #323232;
$secondary-font: #000000;
$tertiary-font: white;

// Font Weight
$font-thin: 300;
$font-regular: 400;
$font-demi: 500;
$font-semibold: 600;
$font-bold: 700;

// Screen sizes
$tablet-screensize: 768px;
$desktop-screensize: 1280px;
