@use "../../styles_partials/functions" as *;
@use "../../styles_partials/variables" as *;
@use "../../styles_partials/mixins" as *;

.loading {
  display: block;
  width: calc(100vw - toRem(48));
  height: calc(100vh - toRem(48));
  padding-top: calc(50vh - toRem(114));

  &__image {
    display: block;
    margin: 0 auto;
    width: toRem(100);
    height: toRem(100);
    animation: logo-animation 3s linear 0s infinite;

    @include tablet-breakpoint {
      width: toRem(180);
      height: toRem(180);
      animation: logo-animation 3s linear 0s infinite;
    }
  }
}

@keyframes logo-animation {
  0% {
    transform: translate(-100px, -100px) scale(1);
  }
  25% {
    transform: translate(-50px, -50px) scale(1.5);
  }
  50% {
    transform: translate(0, 0) scale(2);
  }
  75% {
    transform: translate(-50px, -50px) scale(1.5);
  }
  100% {
    transform: translate(-100px, -100px) scale(1);
  }
}
