@use "../../styles_partials/functions" as *;
@use "../../styles_partials/variables" as *;
@use "../../styles_partials/mixins" as *;

.card {
  width: 100%;
  min-width: toRem(200);
  max-width: toRem(325);
  background-color: $tertiary-font;
  border-radius: 16px;
  font-size: toRem(16);
  font-weight: $font-demi;
  box-shadow: 0px 2px 5px rgba($color: $primary-color, $alpha: 0.2);
  color: $primary-color;

  &__image {
    width: 100%;
    border-radius: 16px 16px 0 0;
    @include tablet-breakpoint {
      height: toRem(325);
      object-fit: cover;
    }
  }
  &__wrapper {
    padding: toRem(16);
  }
  &__details {
    font-weight: $font-demi;
    margin-bottom: toRem(8);

    &--span {
    }
  }
  &__inner-wrapper {
    @include flex-wrap(row);
  }
  &__date {
  }
  &__like-icon {
    margin-left: auto;
    font-size: toRem(24);
    color: rgba($color: $primary-font, $alpha: 0.5);
    cursor: pointer;

    &:hover {
      color: rgba($color: $tertiary-color, $alpha: 0.5);
    }
    &--like {
      color: $tertiary-color;
    }
  }
}
