@use "./styles_partials/global" as *;
@use "./styles_partials/functions" as *;
@use "./styles_partials/variables" as *;
@use "./styles_partials/mixins" as *;

.App {
  padding: toRem(24);
  background-color: $background-color;

  &__title {
    color: $secondary-color;
    margin-bottom: toRem(24);
    letter-spacing: 0.5px;
    font-size: toRem(36);
    text-align: center;
    @include tablet-breakpoint {
      letter-spacing: 2.5px;
      font-size: toRem(52);
    }
  }
  &__details {
    font-style: italic;
    text-align: center;
  }
  &__images-wrapper {
    padding: toRem(48) 0;
    @include flex-wrap;
    gap: toRem(24);
    opacity: 1;
    transition: opacity linear 0.5s;

    @include tablet-breakpoint {
      width: 100%;
      @include flex-wrap(row, center, flex-end);
    }

    &--hidden {
      opacity: 0;
    }
  }
}
